gdown                    
guildai
imagesize
ipython                  
lightning-bolts
matplotlib               
numpy
opencv-python            
pandas                   
python-dotenv            
pytorch-lightning
pytorch-metric-learning
timm
tqdm                     
virtualenv               
more_itertools
torch
torchvision
insightface
onnxruntime
