gdown                    
guildai
imagesize
ipython                  
lightning-bolts
matplotlib               
numpy
opencv-python            
pandas                   
python-dotenv            
pytorch-lightning==1.6.4
pytorch-metric-learning
timm
tqdm                     
virtualenv               
yolov5
more_itertools
