gdown                    
guildai
imagesize
ipython                  
lightning-bolts
matplotlib               
numpy
opencv-python            
pandas                   
pytest
python-dotenv            
pytorch-lightning==1.6.0
pytorch-metric-learning
timm
tqdm                     
virtualenv               
wandb                    
yolov5
